
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Consumo <small>Testes dos WS</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
		</ol>
	</div>
</div>


<div class="row">
	<b>Novo Consumo</b>
	<form name="consumoForm1" ng-submit="insere()" novalidate>

		<div class="form-group col-lg-12">
			<label class="control-label">Marca do Carro</label> <input
				type="text" ng-model="consumo.marcaCarro" class="form-control">
		</div>

		<div class="form-group col-lg-12">
			<label class="control-label">Modelo do Carro</label> <input
				type="text" ng-model="consumo.modeloCarro" class="form-control">
		</div>

		<div class="form-group col-lg-12">
			<label> <input type="radio" ng-model="consumo.combustivel"
				name="comb" value="Gasolina"> Gasolina
			</label><br /> <label> <input type="radio" name="comb"
				ng-model="consumo.combustivel" ng-value="Etanol"> Etanol
			</label><br /> <label> <input type="radio" name="comb"
				ng-model="consumo.combustivel" value="Diesel"> Diesel
			</label>
		</div>

		<div class="form-group col-lg-1">
			<label class="control-label">Consumo em km/l</label> <input
				type="number" ng-model="consumo.valor" class="form-control">
		</div>

		<div class="form-group col-lg-12">
			<button class="btn btn-primary" type="submit">Go</button>
		</div>
	</form>

	<div class="row">
		<form name="consumoForm2" ng-submit="findAll()" novalidate>
			<div class="col-lg-12">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Combustível</th>
							<th>Consumo</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in consumos">
							<td>{{c.marcaCarro}}</td>
							<td>{{c.modeloCarro}}</td>
							<td>{{c.combustivel}}</td>
							<td>{{c.valor}} km/L</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>

